@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('font/Caviar/Caviar_Dreams_Bold-webfont.eot');
    src: url('font/Caviar/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Caviar/Caviar_Dreams_Bold-webfont.woff2') format('woff2'),
         url('font/Caviar/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('font/Caviar/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('font/Caviar/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto/Roboto-Regular-webfont.eot');
    src: url('font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('font/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('font/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    font-family: caviar_dreamsbold, robotoregular, sans-serif;
}

/*Variable*/
:root{
--color-3: rgb(107, 115, 235);
--color-2: rgb(228, 20, 20);

}

/* Systeme de grille */

.container-fluid{
    margin: 0;
    width: 100%;
}

.container{
    width: 80%;
    max-width: 1170px ;
    margin: 0 auto;
    padding: 0;
}
.row{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    
}

.display-flex{
    display: flex;
}

/*Systeme de marge*/
.padding-tp-xlg{
    padding-top: 3rem;
}

.padding-bt-xlg{
    padding-bottom: 3rem;
}
.padding-tp-lg{
    padding-top: 2.5rem;
}

.padding-bt-lg{
    padding-bottom: 2.5rem;
}

.padding-tp-md{
    padding-top: 2rem;
}

.padding-bt-md{
    padding-bottom: 2rem;
}
.padding-tp-sm{
    padding-top: 1.5rem;
}

.padding-bt-sm{
    padding-bottom: 1.5rem;
}
.padding-tp-xsm{
    padding-top: 1rem;
}

.padding-bt-xsm{
    padding-bottom: 1rem;
}
/*Systeme de couleur*/

.color-3{
    background-color: var(--color-3);
}

.color-2{
    background-color: var(--color-2);
}

/*Systeme flex*/




header{
    background-image: url(img/bg1.png);
    height: 801px;
    width: 100%;
    color: white;
    
}

.bgnavblack{
height: 10%;
background-color: black;
opacity: 0.7;
}

.iconmenu{
    font-family: robotoregular, caviar_dreamsbold, sans-serif;
    font-size: 26px;
    display: flex;
    align-items: center;
}
.listemenu{
    
    width: 100%;
    list-style-type: none;
    font-family: caviar_dreamsbold, robotoregular, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end
   
}

.listemenu li{
    margin-left: 50px;
    border:2px solid transparent;
}
.scale-up-center:hover {
            border:2px solid #4bcaff;
    
    margin-left:50px;
    color: #4bcaff;
    display: flex;
    align-items: center;
    justify-content: flex-end
    
}

.textcenter{
    display: flex;
    align-items:center;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.textcenter p{
    font-family: robotoregular, caviar_dreamsbold, sans-serif;
    display: inline-block;
    background-color: black;
    opacity: 0.7;
    font-size: 36px;
    margin: 5;
    padding-left: 15px;
    padding-right: 15px;
}

.sectionone h1{
    margin: 0;
}
.sectionone{
    height: 405px;
    background-color: #4bcaff;
    color: white;
    padding-top: 5%;
    
}

.sectiononex{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
   
    
}

.sectiononey{
    margin-right: 2%;
    margin-top: 2%;
    
}
.sectiononex p{
    font-size: 12px;
    
}

.sectiontwo{
    height: 850px;
    margin-top: 2%;
    
}

.sectiontwo h1{
    margin: 0;
    
    
    
}

.margeh1{
    width: 100%;
    display: flex;
}

.listemenu2{
    font-size: 14px;
}

.listemenu2:hover{
    font-size: 14px;
  
}


.classimg{
    margin: 10px;
  
    
}

.classimg img{
     margin-left: -20px;
    margin-right: -20px; 
    background:#000000;
    display:inline-block;
    width: 23%;
}

.classimg img:hover{ 
filter: brightness(25%);
-webkit-filter: brightness(25%);    
}


.decaleimg{
    margin-top: 10%;
}


.plus{
    position: RELATIVE;
    TOP: 70;
    right: 100;
    color: transparent;
    font-size: 100PX;
    display: transparent;
   
}  

.plus:hover{
    position: RELATIVE;
    TOP: 70;
    right: 170;
    font-size: 100PX;
    color: white;
    
}  


.sectionthree{
    height: 475px;
    background-color: #515f67;
    color: white;
     
}


.btnvisit{
    color: black;
    border: solid black 1px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:none;
    display: inline-block;
   margin-top: 10px;
}

.boite3{
    
    display: flex;
    padding-top:10%;
    margin: 0;
}

.grille2{
   
    justify-content: space-between
}


.grille2 img{
    margin: 0;
    margin-bottom: 20px;
}

.sectionfour{
    height: 305px;
    background-color: #4bcaff;
}

.spacebet h1{
    margin: 0;
    padding-top:45% ;
}

.sectionfour img{
    padding-top:4% ;
}

.spacebet{
    justify-content: space-between;
}

.txttweet{
    color: white;
    font-size: 24px ;
}

.gras{
    background-color: aqua;
}
